/* You can add global styles to this file, and also import other style files */
:root {
    --color-white: #fff;
    --color-tertiary: #1f8c7f;
    --color-grey: #828282;
    --color-black: #000;
    --color-black-down: #373737;
  }
  
  html {
    font-size: 10px;
    width: 100%;
  }
  
  body {
    font-family: "Roboto Medium", Roboto, -apple-system, BlinkMacSystemFont,
      Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    color: var(--color-black);
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.023rem;
  
    width: 100%;
    min-height: 100vh;
    display: flex;
  }
    
  a {
    text-decoration: none;
    color: var(--color-grey);
  }

  .button:disabled {
      background-color: var(--color-black-down);
    color: var(--color-grey);
  }
  
  .button {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    padding: 1rem 3rem;
    background-color: var(--color-tertiary);
    color: var(--color-white);
    border: none;
    outline: none;
  }
  
  .button:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }
  
  .button:focus {
    box-shadow: none;
    transform: translateY(0px);
  }
  
